main {
    height: 85vh;
    font-size: 0.8em;
    line-height: 2em;
    padding: 30px
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    font-family: 'Caveat', cursive;

}

input {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid $button-bg;
    font-size: 1.2em;
    font-family: 'Caveat', cursive;

}

button {
    padding: 10px 15px;
    background-color: $button-bg;
    color: $button-color;
    border-radius: 15px;
    font-size: 0.8em;
}