main {
    height: 85vh;
    font-size: 0.6em;
    line-height: 1.8em;
    padding: 100px 30px;
    @include flexCenter;
}

form {
    @include flexCenter;
    flex-direction: column;
    font-size: 2em;
    font-family: 'Caveat', cursive;

}

input {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 8px;
    border: 2px solid $button-bg;
    font-size: 1em;
    font-family: 'Caveat', cursive;

}

button {
    padding: 10px 15px;
    background-color: $button-bg;
    color: $button-color;
    border-radius: 12px;
    font-size: 0.6em;
}

@include mq(786px) {
    main {
        height: 85vh;
        font-size: 0.8em;
        line-height: 2em;
        padding: 30px; 
        @include flexCenter;
    }
    
    form {
        font-size: 2.2em;
        font-family: 'Caveat', cursive;
    
    }
    
    input {
        padding: 10px 15px;
        border-radius: 10px;
        margin: 10px;
        font-size: 1.2em;
    }
    
    button {
        padding: 10px 15px;
        border-radius: 12px;
        font-size: 0.8em;
    }
}