footer {
    height: 5vh;
    font-size: 0.6em;
    line-height: 2em;
    @include flexCenter;
    background-color: $header-bg;
    color: $header-color;
}

footer a {
    text-decoration: none;
    color: $header-color;
    margin-left: 5px;
}

@include mq(786px) {
    footer {
    font-size: 0.8em;
    line-height: 2em;
    }
}