@mixin imgSmallSize {
    width: 200px;
    height: 200px;
}

@mixin imgMediumSize {
    width: 300px;
    height: 300px;
}

@mixin imgBigSize {
    width: 400px;
    height: 400px;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}