main {
    height: 85vh;
    font-size: 0.6em;
    line-height: 1em;
    @include flexCenter;
    flex-direction: column;
}

h2 {
    position: relative;
    bottom: 300px;
}

.container {
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    position: relative;
    bottom: 300px;
}

.cards {
    width: 100%;
    margin: 10px;
    position: relative;

}

.first-img {
    @include imgSmallSize;
    position: absolute;
    left: 5%;
    top: 20px;
    box-shadow: $shadow;
    border-radius: 50%;    
}

.second-img {
    @include imgSmallSize;
    position: absolute;
    left: 5%;
    top: 310px;
    box-shadow: $shadow;
    border-radius: 50%;    
}

.card-front {
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.card-front:focus,
.card-front:hover {
    transform: rotateY(180deg);
}


@include mq(786px) {
    h2 {
        position: relative;
        bottom: 320px;
    }
    
    .container {
        @include flexCenter;
        flex-direction: row;
        position: relative;
        bottom: 300px;
    }
    
    .cards {
        width: 50%;
        margin: 10px;
        position: relative;
    
    }
    
    .first-img, .second-img {
        @include imgBigSize;
        position: absolute;
        top: 0px;
        left: 15%;
        box-shadow: $shadow;
        border-radius: 50%;    
    }
    
    .card-front {
        backface-visibility: hidden;
        transition: transform 0.6s ease-in-out;
        transform-style: preserve-3d;
    }
    
    .card-front:focus,
    .card-front:hover {
        transform: rotateY(180deg);
    }
}




