main {
    height: 85vh;
    font-size: 0.6em;
    line-height: 1em;
    @include flexCenter;
    flex-direction: column;
    overflow: scroll;
}

h2 {
    margin-bottom: 10px;
}

.container {
    @include flexCenter;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
}

.cards {
    @include imgSmallSize;
    margin: 10px;
    position: relative;

}

.first-img, .second-img {
    @include imgSmallSize;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: $shadow;
    border-radius: 50%;    
}

.card-front {
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.card-front:focus,
.card-front:hover {
    transform: rotateY(180deg);
}


@include mq(820px) {
    main {
        font-size: 0.8em;
        line-height: 1.2em;
    }
    
    h2 {
        margin-bottom: 10px;
    }
    
    .cards {
        @include imgMediumSize;
        margin: 10px;
        position: relative;
    
    }
    
    .first-img, .second-img {
        @include imgMediumSize;
        position: absolute;
        left: 0px;
        top: 0px;
        box-shadow: $shadow;
        border-radius: 50%;    
    }
    
    .card-front {
        backface-visibility: hidden;
        transition: transform 0.6s ease-in-out;
        transform-style: preserve-3d;
    }
    
    .card-front:focus,
    .card-front:hover {
        transform: rotateY(180deg);
    }
}

@include mq(1200px) {
    main {
        font-size: 0.8em;
        line-height: 1.2em;
    }
    
    h2 {
        margin-bottom: 10px;
    }
    
    .cards {
        @include imgBigSize;
        margin: 10px;
        position: relative;
    
    }
    
    .first-img, .second-img {
        @include imgBigSize;
        position: absolute;
        left: 0px;
        top: 0px;
        box-shadow: $shadow;
        border-radius: 50%;    
    }
    
    .card-front {
        backface-visibility: hidden;
        transition: transform 0.6s ease-in-out;
        transform-style: preserve-3d;
    }
    
    .card-front:focus,
    .card-front:hover {
        transform: rotateY(180deg);
    }
}



