@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dela+Gothic+One&family=Open+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

body {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #eee;
  color: black;
}

header {
  height: 10vh;
  font-size: 0.6em;
  line-height: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  font-family: "Dela Gothic One", cursive;
}

@media only screen and (min-width: 786px) {
  header {
    font-size: 0.9em;
    line-height: 2em;
  }
}
footer {
  height: 5vh;
  font-size: 0.6em;
  line-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
}

@media only screen and (min-width: 786px) {
  footer {
    font-size: 0.8em;
    line-height: 2em;
  }
}
main {
  height: 85vh;
  font-size: 0.6em;
  line-height: 1.8em;
  padding: 100px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  font-family: "Caveat", cursive;
}

input {
  padding: 10px 15px;
  border-radius: 10px;
  margin: 8px;
  border: 2px solid rgb(192, 95, 17);
  font-size: 1em;
  font-family: "Caveat", cursive;
}

button {
  padding: 10px 15px;
  background-color: rgb(192, 95, 17);
  color: white;
  border-radius: 12px;
  font-size: 0.6em;
}

@media only screen and (min-width: 786px) {
  main {
    height: 85vh;
    font-size: 0.8em;
    line-height: 2em;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    font-size: 2.2em;
    font-family: "Caveat", cursive;
  }
  input {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.2em;
  }
  button {
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 0.8em;
  }
}
main {
  height: 85vh;
  font-size: 0.6em;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

h2 {
  margin-bottom: 10px;
}

.container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
}

.cards {
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
}

.first-img, .second-img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.card-front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.card-front:focus,
.card-front:hover {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 820px) {
  main {
    font-size: 0.8em;
    line-height: 1.2em;
  }
  h2 {
    margin-bottom: 10px;
  }
  .container {
    margin-top: 0;
  }
  .cards {
    width: 320px;
    height: 320px;
    margin: 10px;
    position: relative;
  }
  .first-img, .second-img {
    width: 320px;
    height: 320px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  .card-front {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
  }
  .card-front:focus,
.card-front:hover {
    transform: rotateY(180deg);
  }
}
@media only screen and (min-width: 1200px) {
  main {
    font-size: 0.8em;
    line-height: 1.2em;
  }
  h2 {
    margin-bottom: 10px;
  }
  .cards {
    width: 400px;
    height: 400px;
    margin: 10px;
    position: relative;
  }
  .first-img, .second-img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  .card-front {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
  }
  .card-front:focus,
.card-front:hover {
    transform: rotateY(180deg);
  }
}/*# sourceMappingURL=main.css.map */